/* 헤더 */
.btn_box{
  padding-top: 9px !important;
}
.title_box{
  left: 0 !important;
  top: 0 !important;
}
.title_box .title{
  display: flex;
  justify-content: center;
  align-items: center;
}
.title_box .title{
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
}
.title_box .title .title_logo{
  margin-right: 7px;
}
.title_box .title .title_num{
  margin-right: 7px;
  color: #498F63;
  font-size: 36px;
  font-weight: normal;
}
.title_box .title .title_text{
  font-size: 28px;
  font-weight: 800;
  line-height: 36px;
}
.title_box .title .title_text .green{
  color: #60926E;
}


/* 컨텐츠 */
.full_content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding-top: 20px;
}
.full_content > .title{
  width: 900px;
  margin-bottom: 30px;
  padding-left: 20px;
}
.full_content > .title .bmjua{
  font-size: 36px;
  font-weight: 400;
  line-height: 43px;
  margin-right: 13px;
  color: #60926E;
}
.full_content > .title .suit{
  font-size: 26px;
  font-weight: 600;
  line-height: 32px;
}

.full_content .content {
  width: 900px;
  height: 360px;
  border: 3px solid #D6E9E0;
  border-radius: 20px;
}
.full_content .content .content_upper{
  display: flex;
  justify-content: center;
  align-items: center;
}

.full_content .content .content_upper .content_box{
  position: relative;
  width: 432px;
  height: 212px;
  background-color: #D6E9E0;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
  margin-left: 30px;
}

.full_content .content .content_upper .content_box::before{
  content: "";
  position: absolute;
  left: -30px;
  top: 0;
  width: 60px;
  height: 30px;
  background-image: url(../images/1_01_13/point.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.full_content .content .content_upper .content_box .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.full_content .content .content_upper .content_box .left .img_box{
  display: flex;
  justify-content: center;
  align-items: center;
}
.full_content .content .content_box .left .img_box img{
}
.full_content .content .content_box .left .suit{
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
}
.full_content .content .content_box .left .gRegula{
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
}

.full_content .content .content_upper .content_box_1 .left .img_box{
  width: 92px;
  height: 115px;
}
.full_content .content .content_upper .content_box_1 .left .img_box img{
  width: 75px;
  object-fit: cover;
}
.full_content .content .content_upper .content_box_2 .left .img_box{
  width: 88px;
  height: 115px;
}
.full_content .content .content_upper .content_box_2 .left .img_box img{
  width: 43px;
  object-fit: cover;
}


.full_content .content .content_upper .content_box .right .text_box{
  width: 270px;
  height: 172px;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.full_content .content .content_upper .content_box_2 .right .text_box{
  /* width: 223px; */
}


.full_content .content .content_upper .content_box .right .text_box .suit{
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}
.full_content .content .content_upper .content_box .right .text_box .simhei{
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
}
.full_content .content .content_upper .content_box .right .text_box .gRegula{
  font-size: 27px;
  font-weight: 400;
  line-height: 28px;
}
.full_content .content .content_upper .content_box .right .text_box .text_box_pointer{
  margin: 5px 0;
}



.full_content .content .content_under {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.full_content .content .content_under .question_box {
  width: 417px;
  margin-left: 30px;
}

.full_content .content .content_under .question_box .title{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.full_content .content .content_under .question_box .title .suit{
  font-size: 26px;
  font-weight: 600;
  line-height: 32px;
}
.full_content .content .content_under .question_box .title .simhei{
  font-size: 26px;
  font-weight: 400;
  line-height: 32px;
}
.full_content .content .content_under .question_box .title .gRegula{
  font-size: 30px;
  font-weight: 400;
  line-height: 32px;
}
.full_content .content .content_under .question_box .switch_box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 10px;
}
.full_content .content .content_under .question_box .switch_box .arrow_icon{
  margin-right: 5px;
}

.full_content .content .content_under .question_box .switch_box .reset{
  display: inline-block;
  width: 245px;
  height: 36px;
  border-bottom: 2px solid #C9CACA;
}
.full_content .content .content_under .question_box .switch_box .answer{
  display: inline-block;
  font-size: 32px;
  font-weight: 600;
  color: #E22F61;
  width: 245px;
  height: 36px;
  border-bottom: 2px solid #C9CACA;
  text-align: center;
}
.full_content .content .content_under .question_box .switch_box .bttn_box{
  position: absolute;
  bottom: -50px;
  right: 121px;
  width: 112px;
  display: flex;
  justify-content: center;
  align-items: center;
}



/* 팝업 */
.popup{
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  padding: 56px 40px 20px 40px;
}
.popup .popup_content{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 0 !important;
  gap: 0 !important;
}
/* 설명 */
.popup.explan{
  width: fit-content !important;
  padding: 46px 24px 10px 24px;
}
.popup.explan1{
  top: 100px !important;
  right: 100px !important;
}
.popup.explan .popup_content{
  padding: 0 !important;
}
.popup.explan .popup_content .simhei{
  font-size: 32px !important;
  line-height: 50px !important;
  font-weight: 400 !important;
}
.popup.explan .popup_content .FZKai{
  font-size: 32px !important;
  line-height: 50px !important;
  font-weight: 400 !important;
}
.popup.explan .popup_content .notoSans{
  font-size: 32px !important;
  line-height: 50px !important;
  font-weight: 400 !important;
}
.popup.explan .popup_content .gRegula{
  font-size: 32px !important;
  line-height: 50px !important;
  font-weight: 400 !important;
}
.popup.explan .popup_content .suit{
  font-size: 32px !important;
  line-height: 50px !important;
  font-weight: 600 !important;
}
/* 단어게임 */
.popup.game .popup_content .game_box{
  margin: 0 !important;
}
/* 단어장 */
.popup.vocabularyBook{
  padding: 0 !important;
}
.popup.vocabularyBook .popup_content{
  flex-direction: unset !important;
  padding: 56px 44px 0 44px !important;
  gap: 40px !important;
  width: 100% !important;
  height: 100% !important;
}


/* 보충 */
.popup3 .popup_content{
  padding-left: 15px !important;
}

.popup3 .popup_content .title{
  margin-bottom: 20px;
}
.popup3 .popup_content .title .suit{
  font-size: 40px;
  font-weight: 800;
  line-height: 60px;
}
.popup3 .popup_content .content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-self: center;
  gap: 20px;
}
.popup3 .popup_content .content .line{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.popup3 .popup_content .content .line .simhei{
  font-size: 34px;
  font-weight: 400;
  line-height: 44px;
}
.popup3 .popup_content .content .line .gRegula{
  font-size: 34px;
  font-weight: 400;
  line-height: 44px;
}
.popup3 .popup_content .content .line .suit{
  font-size: 34px;
  font-weight: 600;
  line-height: 44px;
}



/* 참고 */
.popup4 .popup_content{
  padding-left: 15px !important;
  overflow-y: scroll;
}

.popup4 .popup_content > .title{
  margin-bottom: 20px;
}
.popup4 .popup_content > .title .suit{
  font-size: 40px;
  font-weight: 800;
  line-height: 60px;
}
.popup4 .popup_content .content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-self: center;
  gap: 20px;
}
.popup4 .popup_content .content .line{
  display: flex;
  justify-content: start;
  align-items: start;
}
.popup4 .popup_content .content .line .text{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.popup4 .popup_content .content .line .index{
  margin-right: 20px;
}
.popup4 .popup_content .content .line .index .suit{
  font-size: 32px;
  font-weight: 600;
  line-height: 44px;
}

.popup4 .popup_content .content .line .text .suit.title{
  font-weight: 800;
  margin-bottom: 5px;
}
.popup4 .popup_content .content .line .text .simhei{
  font-size: 32px;
  font-weight: 400;
  line-height: 44px;
}
.popup4 .popup_content .content .line .text .gRegula{
  font-size: 32px;
  font-weight: 400;
  line-height: 44px;
}
.popup4 .popup_content .content .line .text .suit{
  font-size: 32px;
  font-weight: 600;
  line-height: 44px;
}


