.btn-audio{
  position: absolute;
  font-size: 32px;
}
.speak{
  color: #E22F61;
}


/* 헤더 */
.btn_box{
  padding-top: 9px !important;
}
.title_box{
  left: 0 !important;
  top: 14px !important;
}
.title_box .title{
  display: flex;
  justify-content: center;
  align-items: center;
}
.title_box .title .titleText{
  font-size: 30px;
  font-weight: 800;
}
.title_box .title .titleText .index{
  margin-right: 20px;
  font-family: "BMJua";
  font-size: 36px;
  color: #C1802C;
}


.full_content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.full_content .content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.full_content .numberingBox{
  position: absolute;
  bottom: 0;
  right: 3px;
  width: 100%;
  margin-top: 100px;
  display: flex;
  justify-content: end;
  align-items: center;
}



.full_content .content .quesSec{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #D5E7B2;
  border-radius: 20px;
  width: 650px;
  height: 100px;
  margin-bottom: 30px;
}

.full_content .content .quesSec .gRegula{
  margin: 0 10px;
  padding: 3px 10px;
  font-size: 36px;
  background-color: white;
  border-radius: 11px;
}
.full_content .content .line{
  padding-left: 90px;
}

.full_content .content .line .answerSec{
  margin: 20px 0;
}

.full_content .content .line .answerSec{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.full_content .content .line .answerSec > .index{
  font-size: 40px;
  font-weight: 800;
  margin-right: 20px;
  color: #C1802C;
}


.full_content .content .line .answerSec .ansBox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.full_content .content .line .answerSec .ansBox .title{
  font-size: 36px;
}

.full_content .content .line .answerSec .ansBox .qLine{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 20px 0 0 40px;
}
.full_content .content .line .answerSec .ansBox .qLine .gRegula{
  font-size: 36px;
}

.full_content .content .line .answerSec .ansBox .qLine .index{}
.full_content .content .line .answerSec .ansBox .qLine .reset{
  display: inline-block;
  border-bottom: 3px solid #C9CACA;
  margin: 0 10px;
}
.full_content .content .line .answerSec .ansBox .qLine .answer{
  display: inline-block;
  margin: 0 10px;
  border-bottom: 3px solid #C9CACA;
}
/* 윗줄 빈칸 및 정답 */
.full_content .content .line1 .answerSec .ansBox .qLine .reset1{
  width: 80px;
  height: 42px;
}
.full_content .content .line1 .answerSec .ansBox .qLine .answer1{
  width: 80px;
  height: 42px;
}
.full_content .content .line1 .answerSec .ansBox .qLine .reset2{
  width: 86px;
  height: 42px;
}
.full_content .content .line1 .answerSec .ansBox .qLine .answer2{
  width: 86px;
  height: 42px;
}

/* 아랫줄 빈칸 및 정답 */
.full_content .content .line2 .answerSec .ansBox .qLine .reset1{
  width: 64px;
  height: 42px;
}
.full_content .content .line2 .answerSec .ansBox .qLine .answer1{
  width: 64px;
  height: 42px;
}
.full_content .content .line2 .answerSec .ansBox .qLine .reset2{
  width: 145px;
  height: 42px;
}
.full_content .content .line2 .answerSec .ansBox .qLine .answer2{
  width: 145px;
  height: 42px;
}


.full_content .content .line .answerSec .ansBox .qLine .end{
}


.full_content .content .line .answerSec .bttns{
  position: absolute;
  right: -120px;
  bottom: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110px;
}








/* 팝업 */
.popup{
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  padding: 56px 40px 20px 40px;
}
.popup .popup_content{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 0 !important;
  gap: 0 !important;
}
/* 설명 */
.popup.explan{
  width: fit-content !important;
  padding: 46px 24px 10px 24px;
}
.popup.explan .popup_content{
  padding: 0 !important;
}
.popup.explan .popup_content .simhei{
  font-size: 32px !important;
  line-height: 50px !important;
  font-weight: 400 !important;
}
.popup.explan .popup_content .gRegula{
  font-size: 32px !important;
  line-height: 50px !important;
  font-weight: 400 !important;
}
.popup.explan .popup_content .suit{
  font-size: 32px !important;
  line-height: 50px !important;
  font-weight: 600 !important;
}
/* 단어게임 */
.popup.game .popup_content .game_box{
  margin: 0 !important;
}
/* 단어장 */
.popup.vocabularyBook{
  padding: 0 !important;
}
.popup.vocabularyBook .popup_content{
  flex-direction: unset !important;
  padding: 56px 44px 0 44px !important;
  gap: 40px !important;
  width: 100% !important;
  height: 100% !important;
}

/* 해석 */
.popup2 .popup_content{
  padding-left: 15px !important;
  flex-direction: unset;
  gap: 40px !important;
}
.popup2 .popup_content .context{
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  margin: 6px 0;
}
.popup2 .popup_content .line{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 20px;
}
.popup2 .popup_content .line .index{
  font-size: 36px;
  font-weight: 600;
  margin-top: 5px;
}

.popup2 .popup_content .line .textSec{
  display: flex;
  justify-content: center;
  align-items: start;
}
.popup2 .popup_content .line .textSec .text_box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.popup2 .popup_content .line .textSec .text_box1{
  margin-right: 20px;
}
.popup2 .popup_content .line .textSec .FZKai{
  font-size: 40px;
}
.popup2 .popup_content .line .textSec .gRegula{
  font-size: 40px;
}
.popup2 .popup_content .line .textSec .suit{
  font-size: 40px;
  color: #3d5591;
}









.content2Text{
  position: absolute;
}
.content2Text1{
  top: 94px;
  left: 400px;
  font-size: 28px;
  transform: rotate(357deg);
}
.content2Text2{
  top: 72px;
  left: 540px;
  font-size: 26px;
  transform: rotate(356deg);
}
.content2Text3{
  top: 102px;
  left: 711px;
  font-size: 24px;
  transform: rotate(2deg);
}
.content2Text4{
  top: 105px;
  left: 843px;
  font-size: 24px;
  transform: rotate(2deg);
}

.popup.voca2 .title {
  font-weight: 800;
  color: #231815;
  font-size: 30px;
  margin-bottom: 14px;
  padding-left: 32px;
}
.popup.voca2 .popup_content {
  padding: 48px 0 10px 0;
}
.popup.voca2 .popup_content .popup-scroll {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
.popup.voca2 .popup_content .list-warp {
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
}
.popup.voca2 .popup_content .list-warp .popup_content_list {
  width: calc((100% - 8px) / 2);
  height: fit-content;
  border: 2px solid #b0d9eb;
  border-radius: 10px;
  overflow: hidden;
}
.popup.voca2 .popup_content .list-warp .popup_content_list .item {
  display: flex;
  width: 100%;
  border-bottom: 2px solid #b0d9eb;
}
.popup.voca2 .popup_content .list-warp .popup_content_list .item:last-of-type {
  border-bottom: 0;
}
.popup.voca2 .popup_content .list-warp .popup_content_list .item .item_audio {
  display: flex;
  width: 100%;
}
.popup.voca2 .popup_content .list-warp .popup_content_list .item .suit {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #eefffe;
  width: 100%;
  color: #231815;
  font-size: 25px;
  font-weight: 600;
  padding: 13px 0;
  border-right: 2px solid #b0d9eb;
}
.popup.voca2 .popup_content .list-warp .popup_content_list .item .FZKai {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 34px;
  font-weight: 400;
  background: white;
  padding: 13px 0;
  border-right: 2px solid #b0d9eb;
}
.popup.voca2 .popup_content .list-warp .popup_content_list .item .gRegula {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 25px;
  color: #727171;
  background: white;
  padding: 13px 0;
  text-align: center;
}
