@use "../../common/css/_mixin.scss";

.btn-audio{
  position: absolute;
  font-size: 32px;
}

.btnText1{
  top: 410px;
  left: 316px;
}
.btnText2{
  top: 410px;
  left: 626px;
}

.btn_box{
  justify-content: space-between !important;
  align-items: center;
}

.title{
  display: flex;
  justify-content: center;
  align-items: center;
}

.titleText{
  font-size: 38px;
  color: #B25C7B;
}

.mainCon{
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 8px;
  width: 82px;
  height: 42px;
  font-size: 32px;
  margin-right: 20px;
  background-image: url(../images/1_01_15/logo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}


.mainText{
  font-size: 36px;
  line-height: 1.3;
  font-weight: bold;
}

.popup-con{
  width: 100%;
  height: 100%;
  padding: 56px 29px;
  font-size: 40px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.popup-con .line1{
  /* margin-bottom: 47px; */
}
.popup-con .line{
  /* margin-left: 80px; */
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.popup-con .sui t {
  font-weight: bold;
}
.popup-con .lineTextUpper .suit{
  line-height: 1.3;
  /* margin-bottom: 7px; */
}

/* .popup-con .line1::after{
  content: "1.";
  position: absolute;
  top: 2px;
  left: -60px;
} */

.popup-con .line2::after{
  content: "2.";
  position: absolute;
  top: 2px;
  left: -60px;
}

.popup-con .red{
  color: red;
}