.full_content .content .line .explan_popup_btn[data-view-info="hanja"][data-tab-info="1"]{
	top: 6px;
}
.full_content .content .line .explan_popup_btn[data-view-info="hanja"][data-tab-info="2"]{
  top: 6px;
	right: -74px;
}
.full_content .content .line .explan_popup_btn[data-view-info="hanja"][data-tab-info="3"]{
	top: 6px;
}
.full_content .content .line .explan_popup_btn[data-view-info="hanja"][data-tab-info="4"]{
	top: 6px;
  right: -74px;
}

.full_content .content .line .explan_popup_btn[data-view-info="pinyin"][data-tab-info="1"]{
	top: 6px;
}
.full_content .content .line .explan_popup_btn[data-view-info="pinyin"][data-tab-info="2"]{
	top: 6px;
}
.full_content .content .line .explan_popup_btn[data-view-info="pinyin"][data-tab-info="3"]{
	top: 6px;
}
.full_content .content .line .explan_popup_btn[data-view-info="pinyin"][data-tab-info="4"]{
	top: 6px;
}

.full_content .content .line .explan_popup_btn[data-view-info="combo"][data-tab-info="1"]{
	top: 6px;
}
.full_content .content .line .explan_popup_btn[data-view-info="combo"][data-tab-info="2"]{
  top: 6px;
  right: -78px;
}
.full_content .content .line .explan_popup_btn[data-view-info="combo"][data-tab-info="3"]{
	top: 6px;
}
.full_content .content .line .explan_popup_btn[data-view-info="combo"][data-tab-info="4"]{
	top: 6px;
  right: -78px;
}


#wrap>.btn_box .listen_box {
  margin-right: 10px;
}

.rolePlayer {
  top: 4px;
  left: 4px;
}

.china_wrap.speak_wrap .full_content {
  position: relative;
}

.china_wrap.speak_wrap .full_content .btn_box {
  position: absolute;
  bottom: 7px;
  right: 0;
  z-index: 20;
}

.china_wrap.speak_wrap .full_content .content .line:nth-child(2n + 1) .index_box {
  border: 4px solid #5cc9c8;
  color: #5cc9c8;
  /* border: 4px solid #fc9697;
    color: #fc9697; */
}

/* 단어장 */
.china_wrap .popup.vocabularyBook .popup_content_list .item {
  margin-bottom: 8px;
}

.china_wrap.speak_wrap .full_content .content .line:nth-child(2n) .index_box {
  /* border: 4px solid #5cc9c8;
  color: #5cc9c8; */
  border: 4px solid #fc9697;
  color: #fc9697;
}

.china_wrap .popup.translate .popup_content .left .item:nth-of-type(odd) .item_name {
  border: 4px solid #5cc9c8;
    color: #5cc9c8;
  /* border: 4px solid #fc9697;
  color: #fc9697; */
}

.china_wrap .popup.translate .popup_content .left .item:nth-of-type(even) .item_name {
  /* border: 4px solid #5cc9c8;
    color: #5cc9c8; */
  border: 4px solid #fc9697;
  color: #fc9697;
}

.txt.txt2.gRegula {
  color: #727171;
}

/* 팝업 스타일 */
/* 설명 */
.popup.explan{
  width: fit-content !important;
  padding: 46px 24px 10px 24px;
}
.popup.explan1{
  top: 150px !important;
  right: 100px !important;
}
.popup.explan2{
  top: 250px !important;
  right: 100px !important;
}
.popup.explan3{
  top: 30px !important;
  right: 100px !important;
}
.popup.explan4{
  top: 60px !important;
  right: 100px !important;
}

/* 단어게임 */
.popup.game{
	padding: 45px 43px 10px 43px;
}
.popup.game .popup_content .game_box{
  margin: 0 !important;
  width: 100%;
  height: 100%;
}

.popup.explan .popup_content{
  padding: 0 !important;
}
.popup.explan .popup_content .simhei{
  font-size: 32px !important;
  line-height: 50px !important;
  font-weight: 400 !important;
}
.popup.explan .popup_content .FZKai{
  font-size: 32px !important;
  line-height: 50px !important;
  font-weight: 400 !important;
}
.popup.explan .popup_content .notoSans{
  font-size: 32px !important;
  line-height: 50px !important;
  font-weight: 400 !important;
}
.popup.explan .popup_content .gRegula{
  font-size: 32px !important;
  line-height: 50px !important;
  font-weight: 400 !important;
}
.popup.explan .popup_content .suit{
  font-size: 32px !important;
  line-height: 50px !important;
  font-weight: 600 !important;
}

.popup.explan3 .popup_content .simhei{
  line-height: 40px !important;
}
.popup.explan3 .popup_content .FZKai{
  line-height: 40px !important;
}
.popup.explan3 .popup_content .notoSans{
  line-height: 40px !important;
}
.popup.explan3 .popup_content .gRegula{
  line-height: 40px !important;
}
.popup.explan3 .popup_content .suit{
  line-height: 40px !important;
}
.popup.explan3 .popup_content .text_box{
  margin-top: 10px;
}



.china_wrap .popup>.popup_content {
  padding: 60px;
  justify-content: flex-start;
  align-items: flex-start;
}

.china_wrap .popup>.popup_content span {
  font-size: 30px;
  color: rgba(35, 24, 21, 1);
  font-weight: 500;
  line-height: 1.5;
}


.popup1 .popup_content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup.popup1>.popup_content .box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.popup.popup1>.popup_content .box .bmjua {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  font-size: 32px;
  color: white;
  background: #8a8779;
  border-radius: 100px;
  padding: 4px 14px 0 14px;
  margin-bottom: 20px;
}

.popup.popup1>.popup_content .anwer_box {
  display: flex;
}

.popup.popup1>.popup_content .anwer_box .FZKai {
  font-size: 36px;
  font-weight: 400;
}
.popup.popup1>.popup_content .anwer_box .suit {
  font-size: 36px;
  font-weight: 600;
}

.popup.popup1>.popup_content .anwer_box .line {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 254px;
  height: 50px;
  border-bottom: 2px solid black;
}

.popup.popup1>.popup_content .anwer_box .line div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.popup.popup1>.popup_content .anwer_box .line span {
  color: #e22f61;
  font-weight: 500;
}

.popup1 .answer_btn,
.popup1 .reset_btn {
  position: absolute;
  right: 28px;
  bottom: 28px;
}

.popup1 .popup_content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup.popup1>.popup_content .box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.popup.popup1>.popup_content .box .bmjua {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  font-size: 32px;
  color: white;
  background: #8a8779;
  border-radius: 100px;
  padding: 4px 14px 0 14px;
  margin-bottom: 20px;
}

.popup.popup2>.popup_content .anwer_box {
  display: flex;
  align-items: center;
  position: relative;
  width: 740px;
  display: flex;
  margin-bottom: 50px;
}

.popup.popup2>.popup_content .anwer_box .index {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: #3a6d36;
  border-radius: 50%;
  margin-right: 12px;
  padding-bottom: 2px;
}

.popup.popup2>.popup_content .anwer_box .index .suit {
  font-size: 34px;
  font-weight: 800;
  color: white;
}

.popup.popup2>.popup_content .anwer_box:last-of-type {
  margin-bottom: 0;
}

.popup.popup2>.popup_content .anwer_box span {
  display: flex;
  align-items: center;
  font-size: 60px;
}

.popup.popup2>.popup_content .anwer_box .line {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 180px;
  height: 60px;
  padding-bottom: 12px;
  border-bottom: 2px solid black;
  margin: 0 16px;
}

.popup.popup2>.popup_content .anwer_box .line div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.popup.popup2>.popup_content .anwer_box .answer {
  color: #e22f61;
  font-weight: 400;
}

.popup2 .btn_warp {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 306px;
  bottom: -15px;
  width: 0;
}

.popup2 .btn_warp.index2 {
  left: 314px;
}

.popup2 .btn_warp .btn3 {
  position: absolute;
  white-space: nowrap;
}

.china_wrap .explan>.popup_content span.gRegula {
}

.explan .text2 {
  font-size: 20px;
  margin-right: 6px;
  font-weight: 600;
  padding-top: 10px;
}

.explan .text1 span {
  font-size: 24px !important;
}

.explan .me-16 {
  margin-right: 16px;
}

.explan .mb-24 {
  margin-bottom: 24px;
}

.china_wrap .popup.explan.index2 {
  top: 262px;
}

.china_wrap .popup.explan>.popup_content span {
  font-weight: 600;
}

.china_wrap .popup .popup_content {
  gap: 14px;
}

.china_wrap .popup .popup_content .text1 .FZKai,
.china_wrap .popup .popup_content .text1 .gRegula {
  font-weight: 400;
  font-size: 30px;
}

.china_wrap .popup .popup_content .text1 .FZKai {
  line-height: 1;
}

.china_wrap .popup .popup_content .text1 {
  padding-top: 6px;
  padding-left: 24px;
}
.china_wrap .popup .popup_content .text1 .text_wrapper{
  display: flex;
  justify-content: start;
  align-items: start;
}

.china_wrap .popup .popup_content .text1 .suit {
  font-weight: 600;
  line-height: 30px !important;
}
.china_wrap .popup .popup_content .text1 .FZKai {
  font-weight: 400;
  line-height: 30px !important;
}


.china_wrap .popup .popup_content .suit .context{
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 10px;
}

.china_wrap .popup .popup_content .suit .text_wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.china_wrap .popup .popup_content .suit .text_wrapper .suit{
  line-height: 40px !important;
}
.china_wrap .popup .popup_content .suit .text_wrapper .suit.under_text{
  font-size: 24px !important;
}
.china_wrap .popup .popup_content .suit .text_wrapper .suit.under_text .suit{
  font-size: 24px !important;
}


.explan .text1 span.fs-30 {
  font-size: 30px !important;
}

.fs-24 {
  font-size: 24px !important;
}

.china_wrap .popup.explan>.popup_content span .FZKai {
  font-weight: 400;
}

.china_wrap .popup.explan>.popup_content span .under_line {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: black;
  text-underline-offset: 9px;
}


.china_wrap .popup .popup_content {
  gap: 0;
}

.popup.popup2>.popup_content .anwer_box .btn-audio {
  margin-right: 16px;
}

button:disabled {
  cursor: default;
  color: #ccc !important;
  border-color: #ccc;
  box-shadow: 0px 2px 0px 0px #8a8779;
}

*[data-audio]:disabled {
  color: #ccc !important;
}