.china_wrap .top-title {
  position: relative;
  display: flex;
  align-items: center;
  width: 137px;
  height: 71px;
  background: url(./../images/1_01_15/title1.svg) no-repeat bottom;
  background-size: cover;
}

.china_wrap .btn_box {
  top: 3px;
  right: 0;
  z-index: 1;
}

.china_wrap .full_content {
  width: 100%;
  height: calc(100% - 74px);
}
.china_wrap .full_content .content {
  position: relative;
  width: 100%;
  height: 100%;
}

.full_content .content .text-box {
  display: flex;
  align-items: center;
  margin-left: 54px;
}

.full_content .content .text-box .label {
  width: 16.68px;
  height: 16.68px;
  background: url(./../images/1_01_15/title2.svg) no-repeat center;
  background-size: cover;
  margin-right: 10px;
}
.full_content .content .content_box {
  position: relative;
  width: 926px;
  height: 293px;
  display: block;
  margin: 0 auto;
  background: url(./../images/1_01_15/img1.svg) no-repeat center;
  background-size: cover;
}
.full_content .content .content_box .btn-box {
  position: absolute;
  display: flex;
  top: 187px;
  transform: translateX(-50%);
}
.full_content .content .content_box .btn-box.index1 {
  left: 200px;
}
.full_content .content .content_box .btn-box.index2 {
  left: 493px;
}
.full_content .content .content_box .btn-box.index3 {
  left: 757px;
}

.full_content .content .content_box .answer {
  position: absolute;
  top: 120px;
}
.full_content .content .content_box .answer[data-index="1"] {
  left: 232px;
}
.full_content .content .content_box .answer[data-index="2"] {
  left: 516px;
}
.full_content .content .content_box .answer[data-index="3"] {
  left: 791px;
}

.full_content .content .content_box .hint{
  position: absolute;
}

.full_content .content .content_box .hint[data-index="1"]{
  top: 120px;
  left: 265px;
}
.full_content .content .content_box .hint[data-index="2"]{
  top: 120px;
  left: 583px;
}
.full_content .content .content_box .hint[data-index="3"]{
  top: 120px;
  left: 831px;
}


/* 보충 팝업 */
.popup.popup3 .popup_content {
  width: 100%;
  height: 100%;
  padding: 46px 34px 8px 55px;
  position: relative;
}
.popup.popup3 .popup_content .content {
  /* background: rgba(0, 0, 0, 0.2); */
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
.popup.popup3 .popup_content .content .title {
  line-height: 48px;
  font-size: 40px;
}
.popup.popup3 .popup_content .content .title .suit {
  font-weight: 800;
}
.popup.popup3 .popup_content .content .title .simhei {
  font-weight: 400;
}
