.china_wrap .top-title {
  position: relative;
  display: flex;
  align-items: center;
  width: 137px;
  height: 71px;
  background: url(./../images/1_01_18/title1.svg) no-repeat bottom;
  background-size: cover;
}

.china_wrap .btn_box {
  top: 3px;
  right: 0;
  z-index: 1;
}

.china_wrap .full_content {
  width: 100%;
  height: calc(100% - 74px);
}
.china_wrap .full_content .content {
  position: relative;
  width: 100%;
  height: 100%;
}

.full_content .content .text-box {
  display: flex;
  align-items: center;
  margin-left: 54px;
}

.full_content .content .content_box {
  position: relative;
  width: 884px;
  height: 240px;
  display: flex;
  margin: 0 auto 0 54px;
  background: url(./../images/1_01_18/img1.svg) no-repeat center;
  background-size: cover;
}

.full_content .content .content_box .title {
  position: relative;
  width: 112px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.full_content .content .content_box .title .btn3 {
  position: absolute;
  bottom: -10px;
  transform: translateY(100%);
}
.full_content .content .content_box .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  width: 770px;
  height: 100%;
}
.full_content .content .content_box .item .info {
  position: absolute;
  bottom: -47px;
  left: 145px;
}
.full_content .content .content_box .item .info .gRegula{
  font-size: 34px;
}

.full_content .content .content_box .item .info2 {
  position: absolute;
  width: 279.6px;
  height: 121.21px;
  right: -63px;
  bottom: -112px;
}



/* 보충 팝업 */
.popup.popup3 .popup_content {
  width: 100%;
  height: 100%;
  padding: 46px 34px 8px 55px;
  position: relative;
}
.popup.popup3 .popup_content .content {
  /* background: rgba(0, 0, 0, 0.2); */
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
