.china_wrap .full_content {
  width: 100%;
  height: 100%;
}
.china_wrap .full_content .content {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.china_wrap .full_content .content .content_bg {
  width: 500px;
  height: 378px;
  margin: 108px 0 0 auto;
  display: block;
}
.china_wrap .full_content .content .left_box {
  position: absolute;
  top: 0;
  left: 20px;
}
.china_wrap .full_content .content .left_box .text-box {
  padding-top: 60px;
  line-height: 51px;
  font-size: 34px;
  text-indent: 24px;
}
.china_wrap .full_content .content .left_box .text-box .suit {
  font-weight: 600;
}

/* 설명 팝업 */

.china_wrap .popup.explan {
  top: 208px;
}

.popup.explan {
  width: 493px;
}
.popup.explan .popup_content {
  padding: 46px 24px 10px 24px;
}
.popup.explan .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.popup.explan .row {
  display: flex;
  width: fit-content;
}
.popup.explan .row:nth-child(1) {
  height: 112px;
}
.popup.explan .row:nth-child(2) {
  height: 88.8px;
}

.popup.explan .col {
  height: 100%;
  display: flex;
  align-items: center;
}
.popup.explan .col.index1 {
  width: 194px;
}
.popup.explan .col.index1 .img {
  width: 91px;
  height: 122px;
}
.popup.explan .col.index2 {
  width: 171px;
}
.popup.explan .col.index2 .img {
  width: 107px;
  height: 122px;
}
.popup.explan .col.index3 {
  width: 204px;
}
.popup.explan .col.index3 .img {
  width: 84px;
  height: 68.5px;
}
.popup.explan .col.index4 {
  width: 191px;
}
.popup.explan .col.index4 .img {
  width: 100px;
}

.popup.explan .popup_content .content .col .suit{
  line-height: 30px;
}
.popup.explan .popup_content .content .col .gRegula{
  line-height: 30px;
}
.popup.explan .popup_content .content .col .simhei{
  line-height: 30px;
}
