/* 전역 */
.btn-audio{
  position: absolute;
  font-size: 32px;
}
.chDot{
  margin-right: -18px;
}

/* 헤더 타이틀*/
.btn_box{
  padding-top: 9px !important;
}
.title_box{
  left: 20px !important;
  top: 9px !important;
}
.title_box .title{
  display: flex;
  justify-content: center;
  align-items: center;
}
.title_box .title .mainCon{
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  font-size: 30px;
  margin-right: 20px;
  font-weight: bold;
}
.title_box .title .mainCon .titleLogo{
  margin-right: 20px;
}
.title_box .title .mainCon .titleNum{
  margin-right: 20px;
  color: #3A958E;
  font-size: 36px;
  font-weight: 800;
}
.title_box .title .mainCon .titleText{
  font-size: 40px;
  font-weight: 800;
  color: #3A958E;
}
.title_box .title .mainCon .titleText .simhei{
  font-size: 36px;
  font-weight: 400;
  color: #3A958E;
}



/* 컨텐츠 */
.full_content{
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 23px 20px 0 20px;
}

.full_content .content{
  width: 100%;
  height: 370px;
  background-color: #F2F9F8;
  border-radius: 11px;
  display: flex;
  justify-content: start;
  align-items: start;
  position: relative;
  padding-top: 20px;
}
.full_content .content .contentTitle{
  margin-bottom: 30px;
  padding-left: 30px;
}
.full_content .content .contentTitle .suit{
  font-size: 34px;
  font-weight: 600;
  line-height: 50px;
}
.full_content .content .contentTitle .simhei{
  font-weight: 400;
}


.full_content .content .contextSec{
  display: flex;
  justify-content: center;
  align-items: center;
}

.full_content .content .contextSec .context{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.full_content .content .contextSec .context1{
  padding-left: 60px;
}
.full_content .content .contextSec .context2{}
.full_content .content .contextSec .context3{
  align-items: start;
}

.full_content .content .contextSec .context:nth-of-type(2)::before{
  content: "+";
  font-size: 40px;
  font-weight: 600;
  color: grey;
  position: absolute;
  top: 20px;
  left: -43px;
}

.full_content .content .contextSec .context .simhei{
  font-size: 40px;
  font-weight: 400;
  line-height: 50px;
}
.full_content .content .contextSec .context .gRegula{
  font-weight: 400;
  font-size: 36px;
  line-height: 37px;
}
.full_content .content .contextSec .context .suit{
  font-size: 36px;
  font-weight: 600;
  line-height: 60px;
  margin-top: 10px;
  color: #727171;
}









/* 팝업 */
.popup{
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  padding: 56px 40px 20px 40px;
}
.popup .popup_content{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 0 !important;
  gap: 0 !important;
}
/* 설명 */
.popup.explan{
  /* width: 650px !important; */
  padding: 46px 24px 10px 24px;
}
.popup.explan .popup_content{
  padding: 0 !important;
}
.popup.explan .popup_content .simhei{
  font-size: 32px !important;
  line-height: 50px !important;
  font-weight: 400 !important;
}
.popup.explan .popup_content .gRegula{
  font-size: 32px !important;
  line-height: 50px !important;
  font-weight: 400 !important;
}
.popup.explan .popup_content .suit{
  font-size: 32px !important;
  line-height: 50px !important;
  font-weight: 600 !important;
}
/* 단어게임 */
.popup.game .popup_content .game_box{
  margin: 0 !important;
}
/* 단어장 */
.popup.vocabularyBook{
  padding: 0 !important;
}
.popup.vocabularyBook .popup_content{
  flex-direction: unset !important;
  padding: 56px 44px 0 44px !important;
  gap: 40px !important;
  width: 100% !important;
  height: 100% !important;
}

/* 참고 */
.expPopup{
  padding-right: 0 !important;
}

.expPopup .popup_content{}
.expPopup .popup_content .contextLine{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 20px;
}

.expPopup .popup_content .popupTitle{
  margin: 0 0 22px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.expPopup .popup_content .popupTitle .main{
  font-size: 40px;
  font-weight: 800;
}
.expPopup .popup_content .popupTitle .sub{
  font-size: 36px;
  font-weight: 600;
}

.expPopup .popup_content .context{
  width: 100%;
  position: relative;
  display: flex;
  justify-content: start;
  align-items: start;
  /* margin-top: 50px; */
}
.expPopup .popup_content .context .title{
  font-size: 36px;
  font-weight: 600;
  margin-top: 6px;
  margin-right: 10px;
}
.expPopup .popup_content .context .contextSec{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.expPopup .popup_content .context .contextSec .textLine{
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start; */
}

.expPopup .popup_content .context .contextSec .FZKai{
  font-size: 32px;
  font-weight: 400;
}

.expPopup .popup_content .context .contextSec .suit{
  font-size: 32px;
  font-weight: 600;
  line-height: 44px;
}
.expPopup .popup_content .context .contextSec .gRegula{
  font-size: 32px;
  font-weight: 400;
}
