/* 헤더 */
.btn_box{
  padding-top: 9px !important;
}
.title_box{
  left: 0 !important;
  top: 9px !important;
}
.title_box .title{
  /* display: flex;
  justify-content: start;
  align-items: start; */
}
.title_box .title .title_num{
  margin-right: 20px;
  color: #C1802C;
  font-size: 36px;
  line-height: 36px;
}
.title_box .title .title_text{
  font-size: 30px;
  font-weight: 800;
  line-height: 30px;
}



#wrap > .title_box3 {
  gap: 20px;
  display: flex;
  justify-content: start;
  align-items: start;
}
#wrap > .title_box .text_box {
  padding-bottom: 0;
}
#wrap > .title_box3 .num_box {
  color: rgba(193, 128, 44, 1);
}

/* 푸터 */
/* 넘버 페이지 */
.number-page {
  position: absolute;
  display: flex;
  align-items: center;
  bottom: 12px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  font-family: "SUIT Variable", sans-serif;
  font-weight: 800;
  font-size: 26px;
  color: #d9d9d9;
}
.number-page .item {
  display: flex;
}
.number-page .item:after {
  content: "";
  width: 24px;
  height: 24px;
  background: url(./../../common/images/page_arrow.svg) no-repeat center;
  margin: 0 6px 0 6px;
}
.number-page .item:last-of-type:after {
  display: none;
}
.number-page .item.active {
  color: #231815;
}

/* 컨텐츠 */
.full_content {
  display: flex;
  justify-content: center;
  align-items: start;
  padding-top: 30px;
}

.full_content .content {
  width: 720px;
  height: 391px;
  background-image: url(../images/7_01_21/content.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 20px;
  position: relative;
}
.full_content .content .context {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  gap: 10px;
  height: 140px;
  pointer-events: none;
}
.full_content .content .context .index{
  font-size: 38px;
  font-weight: 600;
  line-height: 48px;
}
.full_content .content .context .gRegula{
  font-size: 38px;
  font-weight: 400;
  line-height: 44px;
}
.full_content .content .context .hint{
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
  color: #595757 !important;
  position: absolute;
}


.full_content .content .context1 {
  padding-left: 103px;
}

.full_content .content .context1 .reset,
.full_content .content .context1 .answer {
  width: 215px;
  height: 44px;
  color: #E22F61;
  border-bottom: 2px solid #C9CACA;
  text-align: center;
}

.full_content .content .context1 .hint{
  bottom: 0px;
  right: 150px;
}

.full_content .content .context2 {
  margin-top: 82px;
  padding-left: 60px;
  height: 100px;
}

.full_content .content .context2 .reset,
.full_content .content .context2 .answer {
  width: 215px;
  height: 44px;
  color: #E22F61;
  border-bottom: 2px solid #C9CACA;
  text-align: center;
}

.full_content .content .context2 .hint{
  bottom: 0px;
  right: 241px;
}

.full_content .content .button_box{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110px;
}
.full_content .content .button_box_1{
  top: 120px;
  left: 387px;
}
.full_content .content .button_box_2 {
  top: 304px;
  left: 274px;
}


/* 팝업 */
.popup{
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  padding: 56px 40px 20px 40px;
}
.popup .popup_content{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 0 !important;
  gap: 0 !important;
}
/* 설명 */
.popup.explan{
  width: fit-content !important;
  padding: 46px 24px 10px 24px;
}
.popup.explan1{
  top: 100px !important;
  right: 100px !important;
}
.popup.explan .popup_content{
  padding: 0 !important;
}
.popup.explan .popup_content .simhei{
  font-size: 32px !important;
  line-height: 50px !important;
  font-weight: 400 !important;
}
.popup.explan .popup_content .FZKai{
  font-size: 32px !important;
  line-height: 50px !important;
  font-weight: 400 !important;
}
.popup.explan .popup_content .notoSans{
  font-size: 32px !important;
  line-height: 50px !important;
  font-weight: 400 !important;
}
.popup.explan .popup_content .gRegula{
  font-size: 32px !important;
  line-height: 50px !important;
  font-weight: 400 !important;
}
.popup.explan .popup_content .suit{
  font-size: 32px !important;
  line-height: 50px !important;
  font-weight: 600 !important;
}
/* 단어게임 */
.popup.game .popup_content .game_box{
  margin: 0 !important;
}
/* 단어장 */
.popup.vocabularyBook{
  padding: 0 !important;
}
.popup.vocabularyBook .popup_content{
  flex-direction: unset !important;
  padding: 56px 44px 0 44px !important;
  gap: 40px !important;
  width: 100% !important;
  height: 100% !important;
}


/* 해석 */
.popup1 .popup_content {
  padding-left: 15px !important;
}

.popup1 .popup_content .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 20px;
}

.popup1 .popup_content .content .line {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.popup1 .popup_content .content .line .gRegula{
  font-size: 38px;
  font-weight: 400;
  line-height: 44px;
}
.popup1 .popup_content .content .line .suit{
  font-size: 36px;
  font-weight: 600;
  line-height: 47px;
  color: #3D5591;
}