/* 전역 */
.btn-audio{
  position: absolute;
  font-size: 32px;
}

.speak{
  color: #E22F61;
}


/* 헤더 */
.btn_box{
  justify-content: space-between !important;
  align-items: center;
}

.btn_box .title{
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn_box .title .titleText{
  font-size: 30px;
  font-weight: 800;
  line-height: 30px;
  color: #231815;
}
.btn_box .title .titleText .index{
  margin-right: 10px;
  font-family: "BMJua";
  font-size: 36px;
  color: #C1802C;
}

.btn_box .mainCon{
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 8px;
  width: 295px;
  height: 62px;
  font-size: 32px;
  margin-right: 20px;
  background-image: url(../images/1_01_17/logo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}



/* 푸터 */
.numberingBox{
  position: absolute;
  bottom: 21px;
  right: 20px;
  width: 100%;
  margin: 0px;
  display: flex;
  justify-content: end;
  align-items: center;
}



/* 컨텐츠 */
.full_content{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding-top: 34px;
}
.full_content .content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}


.full_content .content .quesSec{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid #D5E7B2;
  border-radius: 8px;
  width: 650px;
  height: 100px;
  margin-bottom: 26px;
}

.full_content .content .quesSec .gRegula{
  margin: 0 10px;
  padding: 3px 10px;
  font-size: 36px;
  background-color: white;
  border-radius: 11px;
}
.full_content .content .line{
  padding-left: 90px;
}
.full_content .content .line2{
  margin-top: 20px;
}

.full_content .content .line .answerSec{
}

.full_content .content .line .answerSec{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.full_content .content .line .answerSec > .index{
  font-size: 40px;
  font-weight: 800;
  margin-right: 20px;
  color: #C1802C;
}


.full_content .content .line .answerSec .ansBox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.full_content .content .line .answerSec .ansBox .title{
  font-size: 36px;
  font-weight: 600;
  line-height: 46px;
}

.full_content .content .line .answerSec .ansBox .qLine{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 20px 0 0 57px;
}
.full_content .content .line .answerSec .ansBox .qLine .gRegula{
  font-size: 36px;
  font-weight: 400;
  line-height: 52px;
}

.full_content .content .line .answerSec .ansBox .qLine .index{}
.full_content .content .line .answerSec .ansBox .qLine .reset{
  display: inline-block;
  border-bottom: 2px solid #C9CACA;
  margin: 0 5px;
}
.full_content .content .line .answerSec .ansBox .qLine .answer{
  display: inline-block;
  border-bottom: 2px solid #C9CACA;
  margin: 0 5px;
}
/* 윗줄 빈칸 및 정답 */
.full_content .content .line1 .answerSec .ansBox .qLine .wrong1{
  width: 142px;
  height: 52px;
}
.full_content .content .line1 .answerSec .ansBox .qLine .correct1{
  width: 142px;
  height: 52px;
}
.full_content .content .line1 .answerSec .ansBox .qLine .wrong2{
  width: 63px;
  height: 52px;
}
.full_content .content .line1 .answerSec .ansBox .qLine .correct2{
  width: 63px;
  height: 52px;
}

/* 아랫줄 빈칸 및 정답 */
.full_content .content .line2 .answerSec .ansBox .qLine .wrong1{
  width: 64px;
  height: 52px;
}
.full_content .content .line2 .answerSec .ansBox .qLine .correct1{
  width: 64px;
  height: 52px;
}
.full_content .content .line2 .answerSec .ansBox .qLine .wrong2{
  width: 103px;
  height: 52px;
}
.full_content .content .line2 .answerSec .ansBox .qLine .correct2{
  width: 103px;
  height: 52px;
}
.full_content .content .line2 .answerSec .ansBox .qLine .wrong3{
  width: 180px;
  height: 52px;
}
.full_content .content .line2 .answerSec .ansBox .qLine .correct3{
  width: 180px;
  height: 52px;
}


.full_content .content .line .answerSec .ansBox .qLine .end{
}


.full_content .content .line .answerSec .bttns{
  position: absolute;
  right: -120px;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110px;
}








/* 팝업 */
.popup{
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

.popup .popup_content{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 0 30px;
  gap: 40px !important;
  height: 90% !important;
}

.popup .gRegula{
  color: #727171;
}

.popup2 .popupTitle{
  font-size: 40px;
}
.popup2 .popup_content .context{
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  margin: 6px 0;
}
.popup2 .popup_content .line{
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: start;
}
.popup2 .popup_content .line .index{
  font-size: 36px;
  font-weight: 600;
  margin-top: 5px;
}

.popup2 .popup_content .line .textSec{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin-left: 30px;
}
.popup2 .popup_content .line .textSec .text_box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin: 10px 0;
}
.popup2 .popup_content .text_box1{
  margin-right: 20px;
}
.popup2 .popup_content .line .textSec .FZKai{
  font-size: 40px;
}
.popup2 .popup_content .line .textSec .gRegula{
  font-size: 30px;
  color: #727171;
}
.popup2 .popup_content .line .textSec .suit{
  font-size: 36px;
  color: #3d5591;
}









.content2Text{
  position: absolute;
}
.content2Text1{
  top: 94px;
  left: 400px;
  font-size: 28px;
  transform: rotate(357deg);
}
.content2Text2{
  top: 72px;
  left: 540px;
  font-size: 26px;
  transform: rotate(356deg);
}
.content2Text3{
  top: 102px;
  left: 711px;
  font-size: 24px;
  transform: rotate(2deg);
}
.content2Text4{
  top: 105px;
  left: 843px;
  font-size: 24px;
  transform: rotate(2deg);
}

.popup.voca2 .title {
  font-weight: 800;
  color: #231815;
  font-size: 30px;
  margin-bottom: 14px;
  padding-left: 32px;
}
.popup.voca2 .popup_content {
  padding: 48px 0 10px 0;
}
.popup.voca2 .popup_content .popup-scroll {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
.popup.voca2 .popup_content .list-warp {
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
}
.popup.voca2 .popup_content .list-warp .popup_content_list {
  width: calc((100% - 8px) / 2);
  height: fit-content;
  border: 2px solid #b0d9eb;
  border-radius: 10px;
  overflow: hidden;
}
.popup.voca2 .popup_content .list-warp .popup_content_list .item {
  display: flex;
  width: 100%;
  border-bottom: 2px solid #b0d9eb;
}
.popup.voca2 .popup_content .list-warp .popup_content_list .item:last-of-type {
  border-bottom: 0;
}
.popup.voca2 .popup_content .list-warp .popup_content_list .item .item_audio {
  display: flex;
  width: 100%;
}
.popup.voca2 .popup_content .list-warp .popup_content_list .item .suit {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #eefffe;
  width: 100%;
  color: #231815;
  font-size: 25px;
  font-weight: 600;
  padding: 13px 0;
  border-right: 2px solid #b0d9eb;
}
.popup.voca2 .popup_content .list-warp .popup_content_list .item .FZKai {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 34px;
  font-weight: 400;
  background: white;
  padding: 13px 0;
  border-right: 2px solid #b0d9eb;
}
.popup.voca2 .popup_content .list-warp .popup_content_list .item .gRegula {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 25px;
  color: #727171;
  background: white;
  padding: 13px 0;
  text-align: center;
}
