/* 전역 */
.speak {
  color: rgba(226, 47, 97, 1);
}
.btn-audio {
  position: absolute;
  font-size: 32px;
}

/* 타이틀 헤더 */
.btn_box {
  justify-content: space-between !important;
  align-items: center;
}
.btn_box .title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn_box .title .titleText {
  font-size: 30px;
  font-weight: 800;
  color: black;
}
.btn_box .titleText .index {
  font-size: 36px;
  font-weight: 400;
  color: #498f63;
  margin-right: 10px;
}

/* 푸터 */
.numberingBox {
  position: absolute;
  bottom: 21px;
  right: 20px;
  width: 100%;
  margin: 0px;
  display: flex;
  justify-content: end;
  align-items: center;
}

/* 컨텐츠 */
.full_content {
  display: flex;
  justify-content: center;
  align-items: start;
  padding-top: 30px;
}

.full_content .content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.full_content .content .line {
  display: flex;
  justify-content: center;
  align-items: end;
  position: relative;
}

.full_content .content .line .leftSide {
  width: 487px;
  height: 360px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.full_content .content .line .leftSide .contentImg {
  width: 100%;
  height: 100%;
}

.full_content .content .line .leftSide .gRegula {
  font-size: 30px;
  font-weight: 400;
  position: absolute;
}
.full_content .content .line .leftSide .answer {
  color: #e22f61;
}

.full_content .content .line .leftSide .hint1 {
  top: 32px;
  left: 94px;
}
.full_content .content .line .leftSide .hint2 {
  top: 32px;
  left: 334px;
}
.full_content .content .line .leftSide .hint3 {
  top: 140px;
  left: 41px;
}
.full_content .content .line .leftSide .hint4 {
  top: 140px;
  left: 277px;
}
.full_content .content .line .leftSide .answer1 {
  top: 230px;
  left: 107px;
}
.full_content .content .line .leftSide .answer2 {
  top: 230px;
  left: 365px;
}
.full_content .content .line .leftSide .answer3 {
  top: 300px;
  left: 100px;
}
.full_content .content .line .leftSide .answer4 {
  top: 300px;
  left: 363px;
}

.index1,
.index2,
.index3,
.index4 {
  position: absolute;
  font-weight: 600;
  font-size: 32px;
}
.index1 {
  top: 232px;
  left: 41px;
}
.index2 {
  top: 232px;
  left: 292px;
}
.index3 {
  top: 300px;
  left: 39px;
}
.index4 {
  top: 300px;
  left: 290px;
}

/* 팝업 */
.popup {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  padding: 56px 40px 20px 40px;
}
.popup .popup_content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 0 !important;
  gap: 0 !important;
}
/* 설명 */
.popup.explan {
  /* width: 650px !important; */
  padding: 46px 24px 10px 24px;
}
.popup.explan .popup_content {
  padding: 0 !important;
}
.popup.explan .popup_content .FZKai {
  font-size: 32px !important;
  line-height: 48px !important;
  font-weight: 400 !important;
}
.popup.explan .popup_content .gRegula {
  font-size: 32px !important;
  line-height: 48px !important;
  font-weight: 400 !important;
  /* color: #727171 !important; */
}
.popup.explan .popup_content .suit {
  font-size: 32px !important;
  line-height: 48px !important;
  font-weight: 600 !important;
}
/* 단어게임 */
.popup.game .popup_content .game_box {
  margin: 0 !important;
}
/* 단어장 */
.popup.vocabularyBook {
  padding: 0 !important;
}
.popup.vocabularyBook .popup_content {
  flex-direction: unset !important;
  padding: 56px 44px 0 44px !important;
  gap: 40px !important;
  width: 100% !important;
  height: 100% !important;
}

/* 해석 */
.popup2 .popup_content {
  padding: 0 15px !important;
}

.popup2 .popup_content .popupContext {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  /* color: #727171; */
  margin-bottom: 20px;
}
.popup2 .popup_content .popupContext .index {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3a6d36;
  font-size: 29px;
  width: 36px;
  height: 36px;
  border-radius: 100%;
  color: white;
  margin-right: 20px;
}

.popup2 .popup_content .popupContext .popupKr {
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  color: #3d5591;
  margin-left: 15px;
}
