/* 전역 */
.highlight.green {
  color: #337955;
}
.highlight.gold {
  color: #e4942b;
}
.btn3 {
  padding: 6px 13px;
}
.tab_btn.active {
  color: #ffffff;
  background: #e22f61;
}

/* 타이틀 헤더 */
#wrap.china_wrap .title_box {
  top: 5px;
  left: 0;
}
#wrap.china_wrap .title_box .num_box {
  position: relative;
  height: 45px;
  font-size: 42px;
  font-weight: 800;
  line-height: 42px;
  color: #00a8a0;
}
#wrap.china_wrap .title_box .num_box::after {
  background: url("../../common/images/unit_mark_green.svg") no-repeat 50% 50%;
  background-size: cover;
}
#wrap.china_wrap .title_box .num_box span {
  font-size: 42px;
  font-weight: 800;
  line-height: 42px;
  color: #00a8a0;
}
#wrap.china_wrap .title_box .text_box .suit {
  font-size: 30px;
  font-weight: 800;
  line-height: 30px;
  color: #231815;
}
#wrap.china_wrap .btn_box {
  padding-top: 9px;
}

/* 컨텐츠 */
#wrap.china_wrap .full_content {
  position: relative;
  padding: 12px 0 0;
  height: calc(100% - 47px);
}

.full_content .tip {
  position: absolute;
  top: 153px;
  left: 71px;
  width: 205px;
  height: 177.6px;
  background: url(./../images/4_01_12/tip.png) no-repeat;
  background-size: cover;
  transform: scale(1.3);
}
.full_content .tip .index1.suit {
  font-size: 16.5px;
}

.full_content .tip .index1,
.full_content .tip .index2 {
  position: absolute;
}
.full_content .tip .index1 {
  top: 63.4px;
  left: 104px;
}
.full_content .tip .index2 {
  top: 114px;
  left: 17px;
  line-height: 21px;
}

#wrap.china_wrap .full_content .top_box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 4px 0;
  width: 920px;
  min-height: 100px;
  background-color: #f0f1f3;
  border-radius: 8px;
}
#wrap.china_wrap .full_content .top_box .basic_btn {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}
#wrap.china_wrap .full_content .top_box .type[data-view="pinyin"] .gRegula {
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  color: #231815;
}
#wrap.china_wrap .full_content .top_box .type[data-view="hanja"] .FZKai {
  font-size: 50px;
  font-weight: 400;
  line-height: 75px;
  color: #231815;
}
#wrap.china_wrap .full_content .top_box .type[data-view="combo"] .FZKai {
  font-size: 43px;
  font-weight: 400;
  line-height: 56px;
  color: #231815;
}
#wrap.china_wrap .full_content .top_box .type[data-view="combo"] .gRegula {
  font-size: 43px;
  font-weight: 400;
  line-height: 43px;
  color: #231815;
}
#wrap.china_wrap .full_content .bottom_box {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-direction: column;
  margin: 20px 40px 0 245px;
  padding-right: 20px;
  height: 300px;
}
#wrap.china_wrap .full_content .bottom_box .img_box {
  flex: 0 0 76px;
  position: relative;
  height: 76px;
}
#wrap.china_wrap .full_content .bottom_box .img_box .img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#wrap.china_wrap .bottom_box .step {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}
#wrap.china_wrap .bottom_box .step + .step .img_box .line {
  position: absolute;
  top: 0;
  left: 50%;
  width: 2px;
  height: 36px;
  background-color: #e6e6e6;
  transform: translateY(-100%);
}
#wrap.china_wrap .bottom_box .img_box::before,
#wrap.china_wrap .bottom_box .img_box::after {
  content: "";
  width: 100%;
  height: 100%;
  border: 2px solid transparent;
  border-left-color: #b3ddd9;
  border-radius: 50%;
  position: absolute;
}
#wrap.china_wrap .bottom_box .img_box1::before {
  transform: rotate(45deg);
  top: 0;
  left: 0;
}
#wrap.china_wrap .bottom_box .img_box1::after {
  transform: rotate(-45deg);
  top: 0;
  left: 0;
}
#wrap.china_wrap .bottom_box .img_box2::before {
  transform: rotate(135deg);
  top: 0;
  left: 0;
}
#wrap.china_wrap .bottom_box .img_box2::after {
  transform: rotate(-135deg);
  top: 0;
  left: 0;
}
#wrap.china_wrap .bottom_box .text_box {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
#wrap.china_wrap .bottom_box .text_box[data-view-info="pinyin"] {
  flex: 0 0 382px;
}
#wrap.china_wrap .bottom_box .txt[data-view="pinyin"] .gRegula {
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  color: #231815;
}
#wrap.china_wrap .bottom_box .txt[data-view="pinyin"] .FZKai {
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  color: #231815;
  padding: 0 15px;
}
#wrap.china_wrap .bottom_box .text_box[data-view-info="hanja"] {
  flex: 0 0 334px;
}
#wrap.china_wrap .bottom_box .txt[data-view="hanja"].FZKai {
  font-size: 44px;
  font-weight: 400;
  line-height: 44px;
  color: #231815;
}
#wrap.china_wrap .bottom_box .text_box[data-view-info="combo"] {
  flex: 0 0 336px;
  height: 76px;
}
#wrap.china_wrap .bottom_box .txt[data-view="combo"].FZKai {
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  color: #231815;
}
#wrap.china_wrap .bottom_box .txt[data-view="combo"].gRegula {
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  color: #727171;
}

/* 해석 */
#wrap.china_wrap .popup.translate .popup_content {
  width: 100%;
  height: 100%;
  padding: 52px 40px 23px 55px;
}
#wrap.china_wrap .popup.translate .popup_content .popup-scroll {
  width: 100%;
  height: 100%;
  padding: 0 36px 0 0;
}
#wrap.china_wrap .popup.translate .popup_content .popup-scroll .line {
  display: flex;
  align-items: center;
  width: 100%;
  height: 90px;
  margin-bottom: 10px;
}
#wrap.china_wrap .popup.translate .popup_content .popup-scroll .line .item {
  display: flex;
  flex-direction: column;
}

/* 참고 */
#wrap.china_wrap .popup2.voca2 .popup_content {
  width: 100%;
  height: 100%;
  padding: 52px 40px 25px 55px;
}
#wrap.china_wrap .popup2.voca2 .popup_content .popup-scroll {
  width: 100%;
  height: 100%;
  padding: 0 36px 0 0;
  overflow-y: auto;
}
#wrap.china_wrap .popup2.voca2 .popup_content .title {
  font-size: 36px;
  font-weight: 800;
  line-height: 43px;
  color: #231815;
}
#wrap.china_wrap .popup2.voca2 .popup_content .table-wrap {
  margin-top: 20px;
  border: 2px solid #b0d9eb;
  border-radius: 10px;
  overflow: hidden;
}
#wrap.china_wrap .popup2.voca2 .popup_content .table {
  width: 100%;
  border-spacing: 0;
  border-color: transparent;
}
#wrap.china_wrap .popup2.voca2 .popup_content .table th {
  background-color: #eefffe;
}
#wrap.china_wrap .popup2.voca2 .popup_content .table td {
  background-color: #ffffff;
}
#wrap.china_wrap .popup2.voca2 .popup_content .table th,
#wrap.china_wrap .popup2.voca2 .popup_content .table td {
  text-align: center;
  border-right: 2px solid #b0d9eb;
  border-bottom: 2px solid #b0d9eb;
}
#wrap.china_wrap .popup2.voca2 .popup_content .table tr th:last-child,
#wrap.china_wrap .popup2.voca2 .popup_content .table tr td:last-child {
  border-right: 0;
}
#wrap.china_wrap .popup2.voca2 .popup_content .table tbody tr:last-of-type th,
#wrap.china_wrap .popup2.voca2 .popup_content .table tbody tr:last-of-type td {
  border-bottom: 0;
}
#wrap.china_wrap .popup2.voca2 .popup_content .table thead th,
#wrap.china_wrap .popup2.voca2 .popup_content .table thead td,
#wrap.china_wrap .popup2.voca2 .popup_content .table tbody td {
  padding: 10px 0;
}
#wrap.china_wrap .popup2.voca2 .popup_content .table th .suit {
  font-size: 28px;
  font-weight: 600;
  line-height: 34px;
  color: #231815;
}
#wrap.china_wrap .popup2.voca2 .popup_content .table tbody td .suit {
  font-size: 28px;
  font-weight: 600;
  line-height: 34px;
  color: #231815;
}
#wrap.china_wrap .popup2.voca2 .popup_content .table tbody td .FZKai,
#wrap.china_wrap .popup2.voca2 .popup_content .table tbody td .gRegula {
  font-size: 28px;
  font-weight: 400;
  line-height: 34px;
  color: #231815;
}
#wrap.china_wrap .popup2.voca2 .popup_content .table .table-data-content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 0;
}
#wrap.china_wrap
  .popup2.voca2
  .popup_content
  .table
  .table-data-content
  .image-wrap {
  height: 70px;
  margin-right: 10px;
}
#wrap.china_wrap
  .popup2.voca2
  .popup_content
  .table
  .table-data-content
  .image-wrap
  img {
  display: block;
  height: 100%;
  object-fit: cover;
}
#wrap.china_wrap
  .popup2.voca2
  .popup_content
  .table
  .table-data-content
  .text-wrap {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
#wrap.china_wrap
  .popup2.voca2
  .popup_content
  .table
  .table-data-content
  .text-wrap
  > .suit {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  color: #000000;
  gap: 10px;
}
#wrap.china_wrap
  .popup2.voca2
  .popup_content
  .table
  .table-data-content
  .text-wrap
  > .suit
  .FZKai {
  font-size: 28px;
  font-weight: 400;
  line-height: 29px;
  color: #000000;
}
#wrap.china_wrap
  .popup2.voca2
  .popup_content
  .table
  .table-data-content
  .text-wrap
  > .gRegula {
  font-size: 28px;
  font-weight: 400;
  line-height: 29px;
  color: #231815;
}

/* 설명 */
#wrap.china_wrap .popup.explan {
  top: 170px;
  width: fit-content !important;
}
#wrap.china_wrap .popup.explan > .tag {
  top: -2px;
  left: -2px;
  width: 120px;
  font-size: 26px;
  font-weight: 400;
  line-height: 27px;
}
#wrap.china_wrap .popup.explan .popup_content {
  padding: 46px 24px 10px 24px;
}
#wrap.china_wrap .popup.explan .popup_content .suit {
  font-size: 32px;
  font-weight: 600;
  line-height: 50px;
  color: #231815;
}
#wrap.china_wrap .popup.explan .popup_content .notoSans {
  font-size: 32px;
  font-weight: 500;
  line-height: 50px;
  color: #231815;
}
#wrap.china_wrap .popup.explan .popup_content .FZKai,
#wrap.china_wrap .popup.explan .popup_content .gRegula {
  font-size: 32px;
  font-weight: 400;
  line-height: 50px;
  color: #231815;
}
