#wrap > .title_box3 {
  gap: 20px;
}
#wrap > .title_box .text_box {
  padding-bottom: 0;
}
#wrap > .title_box3 .num_box {
  /* color: rgba(193, 128, 44, 1); */
}

.china_wrap .full_content .num_box span {
  font-size: 30px;
  line-height: 30px;
  color: rgba(35, 24, 21, 1);
  font-weight: 700;
  font-family: "SUIT Variable", sans-serif;
}
.full_content .content {
  width: 100%;
  height: 100%;
}

.full_content .content .ex_box {
  position: relative;
  width: 700px;
  height: 206.5px;
  margin: 52px auto 0 auto;
  background: url(./../images/8_01_20/img1.jpg) no-repeat center;
  background-size: cover;
  margin-bottom: 47px;
}
.full_content .content .ex_box span {
  position: absolute;
  white-space: nowrap;
}
.full_content .content .ex_box .text1 {
  top: 26px;
  left: 163px;
}
.full_content .content .ex_box .text2 {
  top: 29px;
  left: 533px;
}
.full_content .content .ex_box .text3 {
  top: 132px;
  left: 548px;
  transform: rotate(11deg);
  color: #815424;
}
.full_content .content .answer_box {
  margin-left: 110px;
}
.full_content .content .answer_box .line {
  display: flex;
  align-items: center;
  height: 40px;
  line-height: 40px;
  font-weight: 600;
  font-size: 32px;
}
.full_content .content .answer_box .line .check_box {
  position: relative;
  display: flex;
  align-items: center;
  line-height: 40px;
  height: 40px;
  font-size: 32px;
  font-weight: 600;
}
.full_content .content .answer_box .line .check_box.active {
  color: #e22f61;
}
.full_content .content .answer_box .line .check_box::before {
  content: "";
  width: 33px;
  height: 33px;
  background: white;
  border: 3px solid #d9d9d9;
  border-radius: 5px;
  margin-right: 5px;
}
.full_content .content .answer_box .line .check_box::after {
  content: "";
  display: none;
}
.full_content .content .answer_box .line .check_box.active::after {
  display: block;
  position: absolute;
  top: -4px;
  width: 39px;
  height: 26px;
  background: url(./../images/8_01_20/check.svg) no-repeat center;
  background-size: cover;
}

/* 페이지 */
.number-page {
  position: absolute;
  display: flex;
  align-items: center;
  bottom: 12px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  font-family: "SUIT Variable", sans-serif;
  font-weight: 800;
  font-size: 26px;
  color: #d9d9d9;
}
.number-page .item {
  display: flex;
}
.number-page .item:after {
  content: "";
  width: 24px;
  height: 24px;
  background: url(./../../common/images/page_arrow.svg) no-repeat center;
  margin: 0 6px 0 6px;
}
.number-page .item:last-of-type:after {
  display: none;
}
.number-page .item.active {
  color: #231815;
}
/* 해석 */
.popup.popup3 .popup_content {
  width: 100%;
  height: 100%;
  padding: 46px 34px 8px 55px;
  position: relative;
}
.popup.popup3 .popup_content .content {
  width: 100%;
  height: 100%;
  padding-top: 14px;
  overflow-y: auto;
}
.popup.popup3 .content .line {
  display: flex;
  height: 50px;
}
.popup.popup3 .content .line .index {
  margin-right: 10px;
}

.popup.popup3 .subtext {
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  white-space: nowrap;
}
