.trLft{
  transform: translateX(-20px);
}

.full_content{
  padding: 16px 0px !important;
  /* text-wrap: nowrap; */
}
.full_content .express_box .text_box .title{
  margin-right: 0 !important;
}

.chDot{
  margin-right: -20px;
}

/* .full_content .express_box .text_box .line{
  height: 60px;
} */


/* 타이틀 헤더 */
.btn_box{
  padding-top: 9px !important;
}
.title_box{
  top: 0 !important;
  left: 0 !important;
}


/* 컨텐츠 */
.full_content .text_box{
  display: flex;
  justify-content: start;
  align-items: center;
}
.full_content .text_box .index{
  font-size: 36px;
  font-weight: 600;
  line-height: 60px !important;
}
.full_content .text_box .suit{
  font-size: 36px !important;
  font-weight: 600;
  line-height: 54px !important;
}
.full_content .text_box .gRegula{
  font-size: 40px !important;
  font-weight: 400;
  line-height: 54px !important;
}
.full_content .text_box .FZKai{
  margin-right: 20px;
  font-size: 40px !important;
  font-weight: 400;
  line-height: 54px !important;
}
.full_content .textSec{
  margin-left: 30px;
}



/* 팝업 스타일 */
.popup{
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  padding: 56px 40px 20px 40px;
}
.popup .popup_content{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 0 !important;
  gap: 0 !important;
}
/* 설명 */
.popup.explan{
  padding: 46px 20px 13px 20px;
}
.popup.explan .popup_content{
  padding: 0 !important;
}
.popup.explan .popup_content .FZKai{
  font-size: 28px !important;
  font-weight: 400 !important;
}
.popup.explan .popup_content .gRegula{
  font-size: 28px !important;
  font-weight: 400 !important;
  /* color: #727171 !important; */
}
.popup.explan .popup_content .suit{
  font-size: 28px !important;
  line-height: 50px !important;
  font-weight: 600 !important;
}
/* 단어게임 */
.popup.game .popup_content .game_box{
  margin: 0 !important;
}
/* 단어장 */
.popup.vocabularyBook{
  padding: 0 !important;
}
.popup.vocabularyBook .popup_content{
  flex-direction: unset !important;
  padding: 56px 44px 0 44px !important;
  gap: 40px !important;
  width: 100% !important;
  height: 100% !important;
}



.popup.popup1 .popup_content {
  padding: 0 20px !important;
}

.popup.popup1 .popup_content .line{
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 30px;
}

.popup.popup1 .popup_content .layout {
  gap: 20px;
  align-items: flex-start;
}

.popup.popup1 .popup_content .index_box {
  width: 80px;
  height: 109px;
  margin-right: 30px;
  background-color: rgba(253, 255, 245, 1);
  border-radius: 20px;
  font-size: 30px;
  color: rgba(35, 24, 21, 1);
  font-weight: 700;
  line-height: 1.5;
  font-family: "SUIT Variable", sans-serif;
}

.popup.popup1 .popup_content .text_box1 .suit {
  font-size: 40px;
  color: rgba(35, 24, 21, 1);
  font-weight: 400;
  line-height: 1.5;
}
.popup.popup1 .popup_content .text_box1 .simhei {
  font-size: 36px;
  color: rgba(35, 24, 21, 1);
  font-weight: 400;
  line-height: 60px;
}

.popup.popup1 .popup_content .text_box2 .gRegula {
  font-size: 36px;
}

.popup.popup1 .popup_content .text_box2{
  display: flex;
  justify-content: start;
  align-items: center;
}
.popup.popup1 .popup_content .text_box1 .suit {
  position: relative;
  font-size: 36px;
  font-weight: 500;
  line-height: 60px;
  color: rgba(61, 85, 145, 1);
  margin-left: 20px;
}
