/* 헤더 타이틀 */
.btn_box{
  padding-top: 9px !important;
}
.title_box{
  top: 5px !important;
  left: 0 !important;
}
.title_box .text_box{
  display: flex;
  justify-content: center;
  align-items: center;
}
.title_box .text_box .suit{
  font-size: 40px !important;
  color: #B75D7D !important;
}

.title_box .text_box .logoImg{
  margin-right: 10px;
}



/* 컨텐츠 */
.full_content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.full_content .title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  /* margin: 10px 0 20px 0; */
  width: 100%;
  padding-left: 40px;
}

.full_content .title .text{
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
}
.full_content .title .text .space{
  margin-right: 39px;
}

.full_content .title .text .index{
  font-size: 36px;
  width: 20px;
  display: inline-block;
  font-weight: 800;
  color: #4064AE;
  margin-right: 15px;
}
.full_content .title .text1{
  margin-bottom: 30px;
}


.full_content .mainContent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.full_content .mainContent .conFig {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin: 0 20px;
}
.full_content .mainContent .conFig .imgContainer{
  width: 252px;
}
.full_content .mainContent .conFig .imgContainer img{
  width: 100%;
  object-fit: cover;
}

.full_content .mainContent .conFig1 {
  position: relative;
  align-items: end;
}
.full_content .mainContent .conFig2 {
  align-items: start;
}

.full_content .mainContent .conFig .textSec{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.full_content .mainContent .conFig1 .textSec{
  align-items: end;
  margin: 40px 20px 0 0;
}
.full_content .mainContent .conFig2 .textSec{
  align-items: start;
  margin: 40px 0 0 20px;
}


/* 상자 안쪽영역 */
.full_content .mainContent .conFig .textSec .suit {
  font-size: 17px;
  color: white !important;
}
.full_content .mainContent .conFig .textSec .FZKai {
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  color: white;
}
.full_content .mainContent .conFig .textSec .gRegula {
  font-size: 17px;
  color: white;
}

/* .full_content .mainContent .conFig .textSec span {
  font-size: 34px;
  color: #727171;
} */



.full_content .mainContent .conFig .bgImg{
  position: absolute;
}

.full_content .mainContent .conFig .bgImg1{
  position: absolute;
  bottom: -30px;
  right: -18px;
  width: 75px;
}
.full_content .mainContent .conFig .bgImg2{
  position: absolute;
  bottom: 120px;
  right: -53px;
  width: 57px;
}






/* 팝업 */
.popup{
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  padding: 62px 40px 20px 40px;
}
.popup .popup_content{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 0 !important;
  gap: 0 !important;
}
/* 설명 */
.popup.explan{
  padding: 46px 20px 13px 20px;
}
.popup.explan .popup_content{
  padding: 0 !important;
}
.popup.explan .popup_content span{
  line-height: 50px;
  font-weight: 600;
}
/* 단어게임 */
.popup.game .popup_content .game_box{
  margin: 0 !important;
}
/* 단어장 */
.popup.vocabularyBook{
  padding: 0 !important;
}
.popup.vocabularyBook .popup_content{
  flex-direction: unset !important;
  padding: 56px 44px 0 44px !important;
  gap: 40px !important;
  width: 100% !important;
  height: 100% !important;
}


.popup2 .popup_content{
  overflow-y: scroll;
}

.popup2 .popup_content .title{
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 30px;
}
.popup2 .popup_content .line{
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
}
.popup2 .popup_content .textSec{
  display: flex;
  justify-self: start;
  align-items: center;
  padding-left: 10px;
}
.popup2 .popup_content .text_box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.popup2 .popup_content .text_box1{
  margin-right: 20px;
}
.popup2 .popup_content .text_box .txt{
  margin: 5px 0;
}
.popup2 .popup_content .text_box .txt .space{
  margin-right: 15px;
}

.popup2 .popup_content .line .textSec .simhei{
  font-size: 32px;
  font-weight: 400;
  line-height: 48px;
}
.popup2 .popup_content .line .textSec .gRegula{
  font-size: 32px;
  font-weight: 400;
  line-height: 38px;
}
.popup2 .popup_content .line .textSec .suit{
  font-size: 32px;
  font-weight: 600;
  line-height: 38px;
}
