.content-contents-wrap {
  padding-top: 13px;
}

.contents-tit {
  letter-spacing: -0.05em;
}

.contents-cont {
  padding: 30px;
}

.contents-table .tr .th {
  width: 109px;
  padding: 0;
}

.contents-table .tr .td {
  flex: 1;
}

.contents-table .td > ul > li {
  padding-left: 26px;
  position: relative;
  line-height: 52px;
  letter-spacing: -0.08em;
}

.contents-table .td > ul > li::before {
  content: '';
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--answer-red);
  position: absolute;
  left: 0;
  top: 20px;
}

.contents-table .td > ul > li + li {
  margin-top: 10px;
}

.contents-table,
.contents-table .tr + .tr,
.contents-table .tr .th + .td,
.contents-table .tr .td + .td {
  border-color: #73adde;
}

.contents-table .tr .td {
  padding: 30px 20px;
}
