/* 전역 */
button:disabled {
  cursor: default;
  color: #ccc !important;
  border-color: #ccc;
  box-shadow: 0px 2px 0px 0px #8a8779;
}
*[data-audio]:disabled {
  color: #ccc !important;
}


/* 타이틀 헤더 */
.title_box{
  top: 0 !important;
  left: 0 !important;
}
.btn_box{
  padding-top: 9px !important;
}
.btn_box2{
  position: absolute;
  right: 0;
  bottom: 5px;
  z-index: 20;
}

.btn_box .listen_box {
  margin-right: 10px;
}
.btn_box .rolePlayer {
  top: 5px;
  left: 0;
}

/* 컨텐츠 */
.full_content{
  padding-top: 50px;
  position: relative;
}

.full_content .content{
  padding: 0 !important;
  position: relative;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.full_content .content .bgImg{
  margin: 0 !important;
  position: absolute;
  bottom: 0;
  width: 599px;
}
.full_content .content .bgImg img{
  width: 100%;
}

.full_content .content .line{
  position: absolute !important;
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  width: 200px;
  height: 80px;
}
.full_content .content .line1{
  top: 10px;
  left: 212px;
}
.full_content .content .line2{
  top: 10px;
  left: 571px;
}


.full_content .content .line .text_box{
  margin: 0 !important;
  height: fit-content !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.full_content .content .line .text_box[data-view="hanja"] .FZKai{
  font-size: 40px !important;
  font-weight: 400 !important;
  line-height: 43px !important;
}
.full_content .content .line .text_box[data-view="pinyin"] .gRegula{
  font-size: 36px !important;
  font-weight: 400 !important;
  line-height: 40px !important;
}
.full_content .content .line .text_box[data-view="combo"] .FZKai{
  font-size: 40px !important;
  font-weight: 400 !important;
  line-height: 43px !important;
}
.full_content .content .line .text_box[data-view="combo"] .gRegula{
  font-size: 28px !important;
  font-weight: 400 !important;
  line-height: 32px !important;
}

.full_content .content .line .text_box .txt2{
  position: static !important;
}
.full_content .content .explan_popup_btn1{
  top: 156px;
  left: 200px;
}
.full_content .content .explan_popup_btn2{
  top: 156px;
  left: 690px;
}

.full_content .btn3 {
  position: absolute;
  white-space: nowrap;
}



/* .china_wrap.speak_wrap .full_content .btn_box {
  position: absolute;
  bottom: 7px;
  right: 0;
  z-index: 20;
} */

/* 팝업 스타일 */
.popup{
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  padding: 62px 40px 20px 40px;
}
.popup .popup_content{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 0 !important;
  gap: 0 !important;
}
/* 설명 */
.popup.explan{
  padding: 46px 20px 13px 20px;
}
.popup.explan .popup_content{
  padding: 0 !important;
}
.popup.explan .popup_content .simhei{
  font-size: 28px !important;
  font-weight: 400 !important;
}
.popup.explan .popup_content .gRegula{
  font-size: 28px !important;
  font-weight: 400 !important;
  /* color: #727171 !important; */
}
.popup.explan .popup_content .suit{
  font-size: 28px !important;
  line-height: 50px !important;
  font-weight: 600 !important;
}
/* 단어게임 */
.popup.game .popup_content .game_box{
  margin: 0 !important;
}
/* 단어장 */
.popup.vocabularyBook{
  padding: 0 !important;
}
.popup.vocabularyBook .popup_content{
  flex-direction: unset !important;
  padding: 56px 44px 0 44px !important;
  gap: 40px !important;
  width: 100% !important;
  height: 100% !important;
}


/* 설명 */
.popup.explan{
  padding: 46px 24px 10px 24px;
  width: fit-content !important;
}
.popup.explan1{
  top: 300px !important;
  right: 530px !important;
}
.popup.explan2{
  top: 300px !important;
  right: 10px !important;
}

.popup.explan .popup_content{
  padding: 0 !important;
}
.popup.explan .popup_content .simhei{
  font-size: 32px !important;
  line-height: 48px !important;
  font-weight: 400 !important;
}
.popup.explan .popup_content .gRegula{
  font-size: 32px !important;
  line-height: 48px !important;
  font-weight: 400 !important;
  /* color: #727171 !important; */
}
.popup.explan .popup_content .suit{
  font-size: 32px !important;
  line-height: 48px !important;
  font-weight: 600 !important;
}



/* 해석팝업 */
.popup.translate .popup_content{
  padding: 0 !important;
}

.popup.translate .popup_content .left .item{
  display: flex;
  justify-content: start;
  align-items: start;
}

.popup.translate .popup_content .left .item1 .item_name{
  width: 161px !important;
}
.popup.translate .popup_content .left .item2 .item_name{
  width: 103px !important;
}

.popup.translate .popup_content .left .item1 .item_name{
}

.popup.translate .popup_content .left .item1 .item_name{
  margin-right: 20px;
}
.popup.translate .popup_content .left .item2 .item_name{
  margin-right: 81px;
}

.popup.translate .popup_content .left .item1 .item_name{
  border: 3px solid #8fc42f !important;
  color: #8fc42f !important;
  padding-right: 34px;
}
.popup.translate .popup_content .left .item2 .item_name{
  border: 3px solid rgba(246, 174, 95, 1) !important;
  color: rgba(246, 174, 95, 1) !important;
}

.popup.translate .popup_content .left .item .item_text{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.popup.translate .popup_content .left .item .item_text .suit{
  margin-left: 30px;
}

.popup.translate .popup_content .left .item .item_text .chBox{
  display: flex;
  justify-content: center;
  align-items: start;
}



.popup.translate .left .item .item_text .simhei{
  font-size: 36px;
  font-weight: 400;
  line-height: 43px;
}
.popup.translate .left .item .item_text .gRegula{
  font-size: 32px;
  font-weight: 400;
  line-height: 37px;
  margin-top: 0 !important;
}
.popup.translate .left .item .item_text .suit{
  font-size: 36px;
  font-weight: 500;
  line-height: 43px;
}



/* 본문확인 팝업 */
.popup1 .popup_content {
  overflow-y: hidden;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 0 !important;
}

.popup1 .popup_content .title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin-bottom: 30px;
}
.popup1 .popup_content .title .text1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  font-size: 32px;
  color: white;
  background: #8a8779;
  border-radius: 100px;
  padding: 4px 14px 0 14px;
  margin-bottom: 20px;
}
.popup1 .popup_content .title .text1{
  color: white;
  font-weight: 500;
  background-color: #8A8779;
  padding: 3px 10px 0 10px;
  border-radius: 30px;
}
.popup1 .popup_content .title .text2{
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  margin-top: 10px;
}

.popup1 .popup_content .box {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.popup1 .popup_content .box .bgFig{
  margin: 30px 0 0 0 !important;
  position: relative;
}
.popup1 .popup_content .box .bgFig .circle1{
  width: 62px;
  height: 51px;
  border: 5px solid #E22F61;
  position: absolute;
  top: 68px;
  left: 428px;
  border-radius: 100%;
  display: none;
}
.popup1 .popup_content .box .bgFig .circle2{
  width: 51px;
  height: 51px;
  border: 5px solid #E22F61;
  position: absolute;
  top: 28px;
  left: 443px;
  border-radius: 100%;
  display: none;
}

.popup1 .popup_content .box .bgFig .line{
  position: absolute !important;
  width: 200px;
}
.popup1 .popup_content .box .bgFig .line1{
  top: 33px;
  left: 11px;
}
.popup1 .popup_content .box .bgFig .line2{
  top: 32px;
  left: 376px;
}

.popup1 .popup_content .box .bgFig .line .text_box{
  display: flex;
  flex-direction: column;
  justify-content: center !important;
  align-items: center !important;
}
.popup1 .popup_content .box .bgFig .line .text_box .simhei{
  font-size: 40px;
  font-weight: 400;
  line-height: 43px;
}
.popup1 .popup_content .box .bgFig .line .text_box .gRegula{
  font-size: 28px;
  font-weight: 400;
  line-height: 32px;
}


.popup1 .popup_content .box .bttns{
  position: absolute;
  top: -10px;
  right: 0;
}
.popup1 .answer_btn,
.popup1 .reset_btn {
  position: absolute;
  right: 28px;
  bottom: 28px;
}





/* 받아쓰기 */
.popup.popup2 .popup_content{
  justify-content: start !important;
  align-items: center !important;
  padding-top: 70px !important;
}
.popup.popup2 > .popup_content .anwer_box {
  display: flex;
  align-items: center;
  position: relative;
  display: flex;
  margin-bottom: 60px;
}

.popup.popup2 > .popup_content .anwer_box .btn3 {
  margin-right: 16px;
}

.popup.popup2 > .popup_content .anwer_box .index {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #3a6d36;
  margin-right: 12px;
}
.popup.popup2 > .popup_content .anwer_box .index .suit{
  font-size: 34px;
  font-weight: 800;
  color: white;
}
.popup.popup2 > .popup_content .anwer_box .index .bmjua{
  font-size: 34px;
  font-weight: 600;
  color: white;
}

.popup.popup2 > .popup_content .anwer_box:last-of-type {
  margin-bottom: 0;
}
.popup.popup2 > .popup_content .anwer_box span {
  display: flex;
  align-items: center;
  font-size: 60px;
}
.popup.popup2 > .popup_content .anwer_box1 .line {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 120px;
  height: 60px;
  border-bottom: 2px solid black;
  margin: 0 16px;
  font-size: 60px;
}
.popup.popup2 > .popup_content .anwer_box2 .line {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 120px;
  height: 60px;
  border-bottom: 2px solid black;
  margin: 0 16px 0 3px;
  font-size: 60px;
}

.popup.popup2 > .popup_content .anwer_box .line div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.popup.popup2 > .popup_content .anwer_box .answer {
  color: #e22f61;
  font-weight: 400;
}
.popup2 .btn_warp {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 0;
}
.popup2 .btn_warp.index1 {
  left: 286px;
  bottom: -47px;
}
.popup2 .btn_warp.index2 {
  left: 272px;
  bottom: -47px;
}
