/* 전역 */
.btn-audio{
  position: absolute;
  font-size: 32px;
}


.title_box{
  top: 11px !important;
  left: 0 !important;
}
.btn_box{
  padding-top: 9px !important;
}
.title_box .title{
  display: flex;
  justify-content: center;
  align-items: center;
}
.title_box .title .titleText{
  font-size: 38px;
  color: #B25C7B;
}
.title_box .title .mainCon{
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  font-size: 28px;
  font-weight: bold;
}

.title_box .titleNum{
  margin-right: 20px;
  color: #498F63;
  font-size: 36px;
  font-weight: normal;
}


.item_text{
  display: flex;
  flex-direction: inherit !important;
  justify-content: start;
  align-items: center;
}

.item_text .suit{
  margin-left: 50px;
}


/* 컨텐츠 */
.full_content{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding-top: 34px;
}

.content{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.full_content .content .context{
  margin: 0;
}
.full_content .content .context .contentImg{
  width: 960px;
  height: 254px;
}
.full_content .tipImgBox{
  position: absolute;
  top: 65px;
  right: 26px;
  width: 269px;
  z-index: 1;
}
.full_content .tipImgBox .tipImg{
  width: 100%;
  object-fit: cover;
}



.full_content .content .context{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.full_content .content .context1 .textBox{
  position: absolute;
  font-size: 24px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.full_content .content .context1 .textBox .gRegula{
  font-size: 21px;
  line-height: 24px;
}


.full_content .content .context1 .textBox1{
  top: 76px;
  left: 710px;
}
.full_content .content .context1 .textBox2{
  top: 150px;
  left: 746px;
}


.full_content .content .context2 {
  margin-top: 20px;
  width: 818px;
  height: 120px;
  /* text-decoration: underline 3px dotted grey; */
}
.full_content .content .context2 .bgImg{
  position: absolute;
  top: 0;
}
.full_content .content .context2 .suit {
  width: 100%;
  height: 100%;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: #E22F61;
  z-index: 10;
}
.full_content .content .context2 .gRegula {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}
.full_content .content .context2 .FZKai {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

.full_content .content .context2 .answer .point {
  font-weight: 500;
}


/* 팝업 */
.popup{
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  padding: 62px 40px 20px 40px;
}
.popup .popup_content{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 0 !important;
  gap: 0 !important;
}
/* 설명 */
.popup.explan{
  padding: 46px 20px 13px 20px;
}
.popup.explan .popup_content{
  padding: 0 !important;
}
.popup.explan .popup_content .FZKai{
  font-size: 28px !important;
  font-weight: 400 !important;
}
.popup.explan .popup_content .gRegula{
  font-size: 28px !important;
  font-weight: 400 !important;
  /* color: #727171 !important; */
}
.popup.explan .popup_content .suit{
  font-size: 28px !important;
  line-height: 50px !important;
  font-weight: 600 !important;
}
/* 단어게임 */
.popup.game .popup_content .game_box{
  margin: 0 !important;
}
/* 단어장 */
.popup.vocabularyBook{
  padding: 0 !important;
}
.popup.vocabularyBook .popup_content{
  flex-direction: unset !important;
  padding: 56px 44px 0 44px !important;
  gap: 40px !important;
  width: 100% !important;
  height: 100% !important;
}


.popup.expPopup .popup_content{}
.popup.expPopup .popup_content .contentFig{
  width: 856px;
  height: 372px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup.expPopup .popup_content .contentFig .lineImg{
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.popup.expPopup .popup_content .contentFig > .suit{
  position: absolute;
  font-size: 32px;
  font-weight: 500;
  line-height: 48px;
  color: #E22F61;
  width: 868px;
  height: 384px;
  top: 49px;
  right: 22px;
}

